/* Custom styles for VitePress theme */
:root {
  --vp-c-brand: #005baa;
  --vp-c-brand-light: #60a5fa;
  --vp-c-brand-lighter: #93c5fd;
  --vp-c-brand-dark: #004d91;
  --vp-c-brand-darker: #003f78;
}

.vp-doc a {
  color: var(--vp-c-brand);
}

.vp-doc a:hover {
  color: var(--vp-c-brand-light);
}
